@model ElasticEpiserver.Module.Models.AdministrationToolViewModel

<br />
<div class="jumbotron">
    <h3>Welcome to the ElasticEpiserver Administration Tool</h3>
    Navigate the above tabs to customize the search engine to fit your needs.
    <br /><br />
    Once you have made your desired changes, be sure to click the "Update Template" button on the top right hand side. This will update the Elasticsearch search template with your new settings.
</div>